# Local dev backend URL
VITE_API_BASE_URL=http://localhost:5000
# For Vercel production set:
# VITE_API_BASE_URL=https://<your-render-service>.onrender.com
VITE_FIREBASE_API_KEY=AIzaSyCHChR54xUn9_fgdnPeJyC0cL-SZKvYtHI
VITE_FIREBASE_AUTH_DOMAIN=citrus-5589a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=citrus-5589a
VITE_FIREBASE_STORAGE_BUCKET=citrus-5589a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=493811785650
VITE_FIREBASE_APP_ID=1:493811785650:web:f9196de40f6bdebe630eab
VITE_FIREBASE_MEASUREMENT_ID=G-26VJ68B4LK
